.carousel{
    position: relative;
    background: #000000;
}
.carousel__pagination{
    column-gap: 25px;
    box-sizing: border-box;
}
.carousel__pagination-item{
    background: transparent;
}
.carousel__pagination-button{
    width: 14px;
    height: 14px;
    background: hsla(0, 0%, 100%, 0.5);
    border-radius: 50%;
    border: 2px solid transparent;
    position: absolute;
    bottom: 12px;
}
.carousel__pagination-button::after{
    display: none;
}
.carousel__pagination-button--active{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: red;
    border: 2px solid #ffffff;
}