.swiper-pagination-bullet{
    width: 14px !important;
    height: 14px !important;
    border: 2px solid transparent;
    border-radius: 50% !important;
    margin: 0px 12px !important;
}

.swiper-pagination-bullet-active{
    width: 14px !important;
    height: 14px !important; 
    border-radius: 50% !important;
    border: 2px solid #fff;
    background: #DB4444 !important;
}